@use './reset.scss';
@use './typography.scss' as type;
@use './util.scss' as util;
@use './responsive.scss' as responsive;

body {
    background-color: util.$color-yellow;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 24rem;
    padding: util.$spacing-300;
    border-radius: 20px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: util.$color-white;
    color: util.$color-gray-950;
    box-shadow: 0.5rem 0.5rem 0rem util.$color-gray-950;
    border: 1px solid util.$color-gray-950;
    transition: util.$transition-default;
    cursor: pointer;

    &__image {
        height: 200px;
        border-radius: 10px;
    }

    &__tag {
        p {
            @include type.figtree-extra-bold--small;
            color: util.$color-gray-950;
            background-color: util.$color-yellow;
            border-radius: 4px;
            padding: 0.25rem;
            display: inline;
            padding: 0.3rem 0.75rem;
        }
    }

    &__date {
        @include type.figtree-medium--small;
    }

    &__text {
        &--header {
            @include type.figtree-extra-bold;
            transition: util.$transition-default;
        }
        &--paragraph {
            @include type.figtree-medium;
            color: util.$color-gray-500;
        }
    }

    &__author { 
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &--avatar {
            width: 2rem;
            border-radius: 50%;
        }

        &--name {
            @include type.figtree-extra-bold--small;
            font-style: normal;
        }
    }

    &:hover {
        box-shadow: 1rem 1rem 0rem util.$color-gray-950;

        & .card__text--header {
            color: util.$color-yellow;
        }
    }

    // handle devices here

    @include responsive.breakpoint-small-phone {
        width: 20rem;
    }
}

.attribution {
    padding: 2rem;

    @include responsive.breakpoint-small-phone {
        padding: 1rem;
    }
}