@import './reset.scss';
@import './typography.scss';
@import './util.scss';

body {
    background-color: $color-yellow;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 24rem;
    padding: $spacing-300;
    border-radius: 20px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: $color-white;
    color: $color-gray-950;
    box-shadow: 0.5rem 0.5rem 0rem $color-gray-950;
    border: 1px solid$color-gray-950;
    transition: $transition-default;
    cursor: pointer;

    &__image {
        height: 200px;
        border-radius: 10px;
    }

    &__tag {
        p {
            @include figtree-extra-bold--small;
            color: $color-gray-950;
            background-color: $color-yellow;
            border-radius: 4px;
            padding: 0.25rem;
            display: inline;
        }
    }

    &__date {
        @include figtree-medium--small;
    }

    &__text {
        &--header {
            @include figtree-extra-bold;
            transition: $transition-default;
        }
        &--paragraph {
            @include figtree-medium;
            color: $color-gray-500;
        }
    }

    &__author { 
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &--avatar {
            width: 2rem;
            border-radius: 50%;
        }

        &--name {
            @include figtree-extra-bold--small;
            font-style: normal;
        }
    }

    &:hover {
        box-shadow: 1rem 1rem 0rem $color-gray-950;

        & .card__text--header {
            color: $color-yellow;
        }
    }
}

.attribution {
    padding: 2rem;
}