// 425px breakpoint
    // card width = 20rem
    // attribution padding 1rem
//

$small-phone: 450px;
$tablet: 700px;
$desktop: 1024px;

@mixin breakpoint-small-phone {
    @media screen and (max-width: $small-phone) {
        @content;
    }
}